@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*
{   box-sizing: border-box;
}

:root
{   --button-bg-color: #4f4fff;
    --button-fg-color: white;
    --footer-bg-color: #4f4f4f;
    --footer-color: black;
}

body
{   background: url("../images/cars.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0px;
    padding: 0px;
}

header
{   font-family: "Fredoka One", cursive;
    text-align: center;
}

/*                                      */
/* style specific to model selector     */
/*                                      */

.select-car
{   margin: 0px auto;
    max-width: 500px;
    width: 96vw;
}

.select-wrapper
{   display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.select-wrapper select
{   border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: 31%;
}

/*                                      */
/* style for results                    */
/*                                      */

#results
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto;
    max-width: 750px;
    width: 96px;
}

.selected-auto
{   background: #efefef;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* margin: 0px auto; */
    margin-bottom: 1vh;
    /* max-width: 750px; */
    padding: 5px;
    /* width: 96vw; */
    width: 100%;
}

.image-wrapper
{   
    flex-grow: 0;
    /* float: left; */
    height: 300px;
    width: 300px;
}

.text-wrapper
{   
    flex-grow: 1;
    /* float: left; */
    margin-left: 5px;
}

/*                                      */
/* style for miscellaneous elements     */
/*                                      */

button
{   background: var(--button-bg-color);
    border: 1px solid var(--button-bg-color);
    border-radius: 5px;
    color: var(--button-fg-color);
    display: none;
    padding: 5px;
}

button:hover
{   background: var(--button-fg-color);
    color: var(--button-bg-color);
}

/*                                      */
/* style specific to messages           */
/*                                      */

#results
{   display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto;
    max-width: 500px;
    width: 96vw;
}

.signin-button
{   border: 1px solid blue;
    border-radius: 2px;
    padding: 5px;
    width: 45%;
}

/*                                      */
/* style specific to messages           */
/*                                      */

.message-wrapper
{   display: none;
    position: fixed;
    top: 30vh;
    width: 100%;
}

.message-div
{   background: #ffafaf;
    border: 1px solid #ffafaf;
    border-radius: 5px;
    margin: 0px auto;
    max-width: 500px;
    padding: 40px;
    width: 96vw;
}

/*                                      */
/* style specific to sticky footer      */
/*                                      */

body, html
{   height: 100%;
}

.wrapper
{   margin-bottom: -40px;
    min-height: 100%;
}

.push
{   height: 40px;
}

footer
{   background: var(--footer-bg-color);
    color: var(--footer-color);
    height: 40px;
    padding: 10px;
}

/*                                      */
/* media queries for responsive design  */
/*                                      */

@media screen and (max-width: 572px)
{   main
    {   padding: 5vh 0vw 5vh 0vw;
    }

    #results
    {   flex-direction: column;
    }

    .selected-auto
    {   margin-bottom: 10px;
        /* min-width: 96vw; */
        width: 96vw;
    }
}